#countLabel{
    font-size: 100px;
    display: block;
    text-align: center;
    color:#5B3A29;
    font-weight: 700;
    display: block;
    margin-top: 50px;
    
    
}
#btns{
    text-align: center;
    
    
    padding-top: 50px;
    
    margin-left: 50px;
    margin-right: 50px;
    
    
}
#increasebtn,#resetbtn,#decreasebtn{
    color: black;
    background-color: blanchedalmond;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 25px;
    font-weight: 700;
    color:#6B3F36;
    background-color: #D8B4A6;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    border-color: #5B3A29;
}
#body{
    background-color: rgb(213, 160, 213);
}
#heading{
    text-align: center;
    color:#6B4A6E;
    font-weight: 600;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
#increasebtn:active,#decreasebtn:active,#resetbtn:active{
    background-color: #7A5A4A;
    color: #F2D9D0;
}